<nav class="navbar navbar-default navbar-fixed-top" ng-controller="navbarTopController">
	<div class="container-fluid pad-none">  

		<ul class="nav navbar-nav">
			<li>
				<a ng-click="Back()" role="button">
					<span class="mdi mdi-arrow-left"></span>
				</a>
			</li>
		</ul>
		<div class="navbar-form navbar-left text-center">
			<img src="app/assets/img/logo.jpg" class="" style="max-height:36px;">
		</div>
      <!--<form class="navbar-form navbar-left" role="search">
        <div class="form-group wide">
          <input type="text" class="form-control wide" placeholder="Search">
        </div>
     </form>-->
     <ul class="nav navbar-nav navbar-right mar-none">
     	<li>
     		<a ng-click="Menu()" role="button">
     			<span class="mdi mdi-menu"></span>
     		</a>
     	</li>       
     </ul>

  </div>
</nav>